.modesNav{
    color:white; 
    display:flex;
    justify-content: center;
  }
  
  .modesNav ul{
    padding-top: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .modesNav a{
    color: inherit;
    text-decoration: none;
    display: flex;
    padding: 1rem;
  }
